<p>--------------------------------------------------LORENZO LAVORA DA QUI IN
    GIU--------------------------------------------------</p>
<div>
    <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'">
        <!-- Definizione delle colonne -->
        <ngx-datatable-column name="ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <!-- Contenuto personalizzato della cella -->
                {{row.id}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nome">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Età">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.age}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

</div>