
<form [formGroup]="detailForm" class="form-container">
  <div class="left-column">
    <!-- Elementi nel riquadro sinistro -->
    <div>
      <div>
        <label for="email">Email <span>*</span></label>
        <input type="text" id="email" formControlName="email" />
      </div>
      <div>
        <label for="nome">Nome <span>*</span></label>
        <input type="text" id="nome" formControlName="nome" />
      </div>
      <div>
        <label for="cognome">Cognome <span>*</span></label>
        <input type="text" id="cognome" formControlName="cognome" />
      </div>
      <div>
        <label for="cellulare">Cellulare <span>*</span></label>
        <input type="text" id="cellulare" formControlName="cellulare" />
      </div>
      <div>
        <label for="telefono">Telefono <span>*</span></label>
        <input type="text" id="telefono" formControlName="telefono" />
      </div>
      <div>
        <label for="indirizzo">Indirizzo <span>*</span></label>
        <input type="text" id="indirizzo" formControlName="indirizzo" />
      </div>
      <div>
        <label for="provincia">Provincia <span>*</span></label>
        <input type="text" id="provincia" formControlName="provincia" />
      </div>
    </div>
  </div>
  <div class="right-column">
    <div>
      <label for="causale">Causale <span>*</span></label>
      <input type="text" id="causale" formControlName="causale" />
    </div>
    <div>
      <label for="regione">Regione <span>*</span></label>
      <input type="text" id="regione" formControlName="regione" />
    </div>
    <div>
      <label for="provincia">Provincia <span>*</span></label>
      <input type="text" id="provincia" formControlName="provinciaTik" />
    </div>
    <div>
      <!-- Input per Oggetto Reclamo (utilizzando Quill) -->
      <div>
        
        <quill-editor [style]="{'height':'200px'}" formControlName="oggetoReclamo" >Oggetto></quill-editor>
      </div>
      <div>
      <!-- Input per Shop Online (utilizzando uno switch orizzontale) -->
      <div class="container-switch">
        <span>Shop Online</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        </div>
    </div>
  </div>
