<p>reclami-list works!</p>

<div>
    <div class="testata">
        <h2>RECLAMI</h2>
        <button (click)="goToReclamiNew()" class="btn-inserisci" style="height: 45px;">
            <span class="material-symbols-outlined">add</span> 
            INSERISCI UN RECLAMO
        </button>
    </div>
    <hr>
    <div>
        <form [formGroup]="ricercaForm" action="">
            <div class="formaDelForm">
                <div>
                    <label for="codiceNegozio">Codice Negozio </label><br>
                    <input formControlName="codice" type="text" id="codice">
                </div>
                <div>
                    <label for="descrizioneNegozio">Descrizione Negozio </label><br>
                    <input  formControlName="descrizioneNegozio" type="text" id="descrizioneNegozio">
                </div>
                <div>
                    <label for="stato">Stato </label><br>
                    <select formControlName="stato" name="stato" id="stato">
                        <option value="uno">uno</option>
                        <option value="due">due</option>
                        <option value="tre">tre</option>
                    </select>
                </div>
                <div>
                    <label for="gestione">Gestione </label><br>
                    <select  formControlName="gestione" class="form-select" aria-label="Default select example" name="gestione" id="gestione">
                        <option value="uno">uno</option>
                        <option value="due">due</option>
                        <option value="tre">tre</option>
                    </select>
                </div>
            </div>
            <div class="formaDelForm-2">
                <div>
                    <label for="data">Data segnalazione da </label><br>
                    <input formControlName="data" type="date" id="data" value="null" />
                </div>
                <div>
                    <label for="area">Area </label><br>
                    <select  formControlName="area" name="area" id="area">
                        <option value="uno">uno</option>
                        <option value="due">due</option>
                        <option value="tre">tre</option>
                    </select>
                </div>
                <div>
                    <label for="causale">Causale </label><br>
                    <select  formControlName="causale" name="causale" id="causale">
                        <option value="uno">uno</option>
                        <option value="due">due</option>
                        <option value="tre">tre</option>
                    </select>
                </div>
            </div>
            <div>
                <button class="btn-nascondi" id="btn-check" onclick="document.getElementsByClassName('div-check')[0].style.display ='block';">
                    <span class="material-symbols-outlined">filter_list</span> 
                    NASCONDI FILTRI AVANZATI
                </button>
            </div>
            <div class="formaDelForm "> <!-- div-check -->
                <div>
                    <label for="idReclamo">ID Reclamo </label><br>
                    <input formControlName="idReclamo" type="text" id="idReclamo">
                </div>
                <div>
                    <label for="nome">Nome cliente </label><br>
                    <input formControlName="nome" type="text" id="nome">
                </div>

                <div>
                    <label for="cognome">Cognome cliente </label><br>
                    <input formControlName="cognome" type="text" id="cognome">
                </div>
                <!-- <div>
                    <label for="banner">Banner </label><br>
                    <select name="banner" id="banner">
                        <option value="uno">uno</option>
                        <option value="due">due</option>
                        <option value="tre">tre</option>
                    </select>
                </div> -->
            </div>

        </form>
        <div class="btn-ins-cer">
            <button class="btn-inserisci btn-azzera">AZZERA</button>
            <button class="btn-cerca" (click)="searchFilter()">Cerca</button>
        </div>
    </div>
</div>

<br><br><br><br>


<app-reclami-item [listReclami]="listReclamo"></app-reclami-item>

