<div style="margin: 0 0.5%;">
    <div class="testata">
        <h2>RECLAMI</h2>
        <button (click)="goToReclamiNew()" class="btn-inserisci" style="height: 45px;"><b style="display: flex; align-items: center;">
            <span class="material-symbols-outlined">add</span> 
            INSERISCI UN RECLAMO</b>
        </button>
    </div>
    <hr>
    <div>
        <form [formGroup]="ricercaForm" action="">
            <div class="formaDelForm">
                <div>
                    <label for="codiceNegozio">Codice Negozio </label><br>
                    <input formControlName="codice" type="text" id="codice">
                </div>
                <div>
                    <label for="descrizioneNegozio">Descrizione Negozio </label><br>
                    <input  formControlName="descrizioneNegozio" type="text" id="descrizioneNegozio">
                </div>
                <div>
                    <label for="stato">Stato </label><br>
                    <select formControlName="stato" name="stato" id="stato">
                        <option value="Assegnato">Assegnato</option>
                        <option value="Non assegnato">Non assegnato</option>
                    </select>
                </div>
                <div>
                    <label for="gestione">Gestione </label><br>
                    <select  formControlName="gestione" class="form-select" aria-label="Default select example" name="gestione" id="gestione">
                        <option value="Chiuso">Chiuso</option>
                        <option value="Aperto">Aperto</option>
                    </select>
                </div>
            </div>
            <div class="formaDelForm-2">
                <div>
                    <label for="data">Data segnalazione da </label><br>
                    <input formControlName="data" type="date" id="data" value="null" />
                </div>
                <div>
                    <label for="area">Area </label><br>
                    <select name="area" id="area" formControlName="area">
                        <option *ngFor="let area of regioniItaliane" value="area">{{area}}</option>
                      </select>
                </div>
                <div>
                    <label for="causale" class="per-pallino">Causale <span class="richiesto"></span></label>
                    <select name="causale" id="causale" formControlName="causale">
                      <option value="Prodotto difettoso">Prodotto difettoso</option>
                      <option value="Prodotto non conforme">Prodotto non conforme</option>
                      <option value="Ritardo nella consegna">Ritardo nella consegna</option>
                      <option value="Prodotto danneggiato durante la consegna">Prodotto danneggiato durante la consegna</option>
                      <option value="Prodotto errato spedito">Prodotto errato spedito</option>
                    </select>
                  </div>
            </div>
            <div>
                <button class="btn-nascondi" id="btn-check" (click)="onclick()">
                    <span class="material-symbols-outlined" style="margin-right: 8px;">filter_list</span> 
                    {{Nascondi?"MOSTRA FILTRI AVANZATI":"NASCONDI FILTRI AVANZATI"}}
                </button>
            </div>
            <ng-container *ngIf="visible">
                <div class="formaDelForm " id="ciao">
                    <div>
                        <label for="idReclamo">ID Reclamo </label><br>
                        <input formControlName="idReclamo" type="text" id="idReclamo">
                    </div>
                    <div>
                        <label for="nome">Nome cliente </label><br>
                        <input formControlName="nome" type="text" id="nome">
                    </div>

                    <div>
                        <label for="cognome">Cognome cliente </label><br>
                        <input formControlName="cognome" type="text" id="cognome">
                    </div>
                    <!-- <div>
                        <label for="banner">Banner </label><br>
                        <select name="banner" id="banner">
                            <option value="uno">uno</option>
                            <option value="due">due</option>
                            <option value="tre">tre</option>
                        </select>
                    </div> -->
                </div>
            </ng-container>


        </form>
        <div class="btn-ins-cer">
            <button class="btn-inserisci btn-azzera" (click)="cancellaFiltri()"><b>AZZERA</b></button>
            <button class="btn-cerca" (click)="searchFilter()"><b>CERCA</b></button>
        </div>
        <br>
        <div style="display: flex; justify-content: flex-end;">
            <button class="btn-esporta" id="">
                ESPORTA
                <img src="https://cdn-icons-png.flaticon.com/512/888/888850.png" class="img-esporta" alt=""> 
            </button>
        </div>

    </div>

</div>


<app-reclami-item [listReclami]="listReclamo"></app-reclami-item>

