/*@import '@swimlane/ngx-datatable/assets/icons';
@font-face{
  font-family: data-table;
  src: url('~node_modules/@swimlane/ngx-datatable/assets/fonts/data-table.ttf')
}*/
datatable-header-cell {
    text-wrap: wrap !important;
    word-break: break-all !important;
}