body {
    font-family: Arial, Helvetica, sans-serif;
}

datatable-header-cell {
    text-wrap: wrap !important;
    word-break: break-all !important;
    border-left: 1px solid black;
}

.datatable-body-cell {
    border-left: 1px solid black;
    justify-content: center;

    i {
        cursor: pointer;
    }

}